tool:
  vim:
    defaults:
      plug: false           # install vim-plug plugin manager
      plug_install: false   # when synced dotconfig has changed, apply PlugInstall

  users:
    user:
      xdg: true      # force xdg dirs
      # sync this user's config from a dotfiles repo available as
      # salt://dotconfig/<user>/vim or salt://dotconfig/vim
      dotconfig: true
      # persist vim env vars to use xdg dirs permanently
      # (will be appended to file relative to $HOME)
      persistenv: '.config/zsh/zshenv'
      vim:
        plug: false           # install vim-plug plugin manager
        plug_install: false   # when synced dotconfig has changed, apply PlugInstall
